<html>
    <head>
        <style>
            {{$static.channelTmplCSS}}
        </style>
    </head>
    <body>
        <h1>Welcome to the {{.ChannelName}} channel!</h1>
        <p> Go ahead and start chatting below. </p>

        <form action="/c/{{.ChannelName}}" method="POST" id="chatForm">
            <textarea name="message" id="messageArea" rows="5" cols="40"></textarea>
            <input type="submit" value="Submit">
        </form>

        <pre> {{printf "%s" .Body}} </pre>
    </body>

    <script>
        {{$static.channelTmplJS}}
    </script>
</html>
