<!DOCTYPE html>
<html>
    <head>
        <title>{{.ChannelName}}</title>
        <link rel="stylesheet" href="/assets/channel.css">
    </head>
    <body onload="setFocusToTextBox()">
        <h1>Welcome to the {{.ChannelName | printf "%s"}} channel!</h1>
        <p> Go ahead and start chatting below. Just hit enter to submit your
            text.
        </p>

        <form action="/c/{{.ChannelName}}" method="POST" id="chatForm">
            <textarea name="message" id="messageArea" rows="5" cols="40"></textarea>
        </form>

        <pre> {{.ChannelLog}} </pre>
        <script src="/assets/channel.js"></script>
    </body>
</html>
